# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [38]:
import numpy as np
import pandas as pd
import random

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [19]:
car1=pd.read_csv(r"https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
car2=pd.read_csv(r"https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [23]:

#car1.drop(columns=['Unnamed: 9', 'Unnamed: 13','Unnamed: 10', 'Unnamed: 11','Unnamed: 12'],  axis=1, inplace=True)

In [24]:
car1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [27]:
car2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 5. What is the number of observations in each dataset?

In [31]:
print(car1.shape)
print(car2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [36]:
#cars=pd.merge(car1,car2,on='car')
cars=car1.append(car2)

In [50]:
cars.head(5)
#cars.shape[0]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,67315
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,27427
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,52736
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35879
4,17.0,8,302,140,3449,10.5,70,1,ford torino,58965

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [48]:
n=[]
for i in range(0,398):
    n.append(random.randint(15000,73000))
print(n)

[67315, 27427, 52736, 35879, 58965, 55346, 58000, 41839, 64613, 41866, 34875, 32997, 66634, 46422, 42118, 53049, 69175, 25136, 50388, 18814, 44973, 67716, 37489, 34645, 45091, 64942, 72365, 32709, 35466, 27873, 37124, 72532, 25420, 40548, 37608, 21533, 26441, 20905, 53441, 54469, 44647, 48726, 23942, 54713, 37591, 43064, 15985, 44678, 30458, 68635, 22473, 24453, 47886, 24831, 33978, 51994, 66851, 60784, 33961, 36210, 19455, 60392, 46877, 29179, 15314, 29702, 62828, 57902, 50661, 59704, 58953, 43462, 59166, 39475, 53356, 25339, 40496, 66481, 18747, 40799, 65800, 43832, 19431, 36923, 63162, 40854, 67348, 66295, 49024, 42870, 56221, 24981, 36907, 28817, 62990, 26295, 40286, 51978, 56818, 37866, 32121, 53760, 32851, 50233, 64134, 36308, 48396, 29060, 59275, 58888, 54149, 53393, 68077, 20459, 45709, 35465, 42159, 67852, 25860, 59858, 24036, 61062, 17935, 36289, 64061, 18036, 15084, 36310, 50681, 66165, 28458, 61974, 35622, 18277, 18070, 26738, 26516, 58845, 29101, 72928, 47265, 43214, 28560, 67519, 41980, 34248, 31866, 56115, 71829, 33876, 26255, 16936, 42738, 18782, 52356, 55018, 32286, 37277, 39518, 69803, 38557, 65506, 38099, 72711, 62792, 15428, 47041, 38066, 45235, 30543, 23952, 40329, 51003, 26860, 42944, 52148, 34654, 57700, 39579, 21095, 65010, 32340, 67291, 33961, 19817, 59479, 15954, 26155, 23137, 39424, 21239, 54344, 26742, 27198, 21061, 25742, 70342, 64158, 22533, 68949, 66519, 60714, 36345, 22414, 70472, 51981, 56867, 47946, 47587, 40757, 70219, 19278, 17256, 71704, 70620, 71044, 55491, 17604, 25953, 26364, 58709, 60510, 35944, 38878, 40663, 58172, 21101, 16587, 60127, 57249, 51771, 34360, 55614, 40676, 40352, 37064, 47430, 22837, 60097, 44750, 51924, 36730, 18951, 63632, 71725, 53926, 32803, 28270, 42293, 18406, 52866, 37971, 19114, 54788, 49236, 51796, 42658, 58965, 32106, 55842, 67866, 53347, 22995, 55232, 36329, 55887, 61191, 16944, 69892, 62902, 39650, 54820, 71176, 57858, 58288, 33606, 15577, 24942, 26972, 66518, 53077, 32379, 53637, 40557, 16711, 42077, 48532, 70449, 67787, 44475, 17927, 24626, 16973, 28415, 66235, 26843, 29517, 51394, 20672, 62614, 62732, 37332, 23245, 19938, 58486, 16643, 61475, 22895, 50702, 33263, 28834, 51691, 31997, 61931, 26506, 31186, 40663, 34185, 58448, 70113, 67280, 59515, 44218, 48974, 17889, 37923, 49720, 40212, 45698, 21880, 71634, 59912, 72350, 29666, 52476, 43037, 51550, 35289, 50768, 38410, 65881, 43364, 42616, 40736, 19253, 26012, 21411, 72126, 28039, 46070, 27978, 28189, 22639, 72024, 46947, 72591, 20413, 22957, 50939, 70540, 67939, 56213, 33432, 57901, 29665, 59545, 33498, 22079, 48329, 39370, 31444, 21108, 19324, 66280, 58756, 26306, 21311, 42597, 54365, 65974, 33065, 17574, 48562, 48406, 67293, 26582, 65414, 63244, 51971, 28361, 44322, 61565, 67763, 23423, 58243, 59397, 37057, 61662]

### Step 8. Add the column owners to cars

In [49]:
cars['owners']=n