# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [37]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [38]:

l1= pd.Series(np.random.randint(1,4,100))
l2=pd.Series(np.random.randint(1,3,100))
l3=pd.Series(np.random.randint(10000,30000,100))
print(l3)

0     14811
1     15214
2     23250
3     25706
4     23612
      ...
95    16133
96    17194
97    22980
98    23153
99    16955
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [39]:
from numpy.lib.index_tricks import AxisConcatenator
df=pd.concat([l1,l2,l3],axis=1)
df

    0  1      2
0   3  2  14811
1   1  1  15214
2   2  2  23250
3   3  1  25706
4   2  1  23612
.. .. ..    ...
95  3  2  16133
96  2  2  17194
97  3  2  22980
98  2  1  23153
99  1  1  16955

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [40]:
df.columns=['bedrs','bathrs','price_sqr_meter']
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            14811
1      1       1            15214
2      2       2            23250
3      3       1            25706
4      2       1            23612

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [46]:
bigcolumn=pd.concat([l1,l2,l3],axis=0)

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [45]:
bigcolumn

0         3
1         1
2         2
3         3
4         2
      ...
95    16133
96    17194
97    22980
98    23153
99    16955
Length: 300, dtype: int64

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [48]:
bigcolumn=pd.concat([l1,l2,l3],axis=0,ignore_index=True)
bigcolumn

0          3
1          1
2          2
3          3
4          2
       ...
295    16133
296    17194
297    22980
298    23153
299    16955
Length: 300, dtype: int64

In [49]:
#bigcolumn.reset_index(drop=True, inplace=True)
#bigcolumn

0          3
1          1
2          2
3          3
4          2
       ...
295    16133
296    17194
297    22980
298    23153
299    16955
Length: 300, dtype: int64