# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data={'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
      'hp':[45,39,44,45],
      'name':['Bulbasaur','Charmander	','Squirtle','Caterpie'],
      'pokedex':['yes','no','yes','no'],'type':['grass','fire','water','bug']}
df=pd.DataFrame(data)

In [9]:
df.head()

           name   type  hp pokedex         place
0     Bulbasaur  grass  45     yes          masr
1  Charmander\t   fire  39      no  sharm matro7
2      Squirtle  water  44     yes  marsa matro7
3      Caterpie    bug  45      no          sina

### Step 3. Assign it to a variable called pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
df=df[['name','type','hp','pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
df['place']=['masr','sharm matro7','marsa matro7','sina']

### Step 6. Present the type of each column

In [11]:
df.dtypes

name       object
type       object
hp          int64
pokedex    object
place      object
dtype: object

### BONUS: Create your own question and answer it.